---
import { Icons } from '@components/overrides/Icons';
import Icon from '@components/overrides/Icon.astro';

import type { HTMLAttributes } from 'astro/types';
interface Props extends Omit<HTMLAttributes<'a'>, 'title'> {
  title: string;
  description?: string;
  icon?: keyof typeof Icons;
  rightIcon?: keyof typeof Icons;
  noborder?: boolean;
}

const {
  title,
  description,
  icon,
  rightIcon = 'right-arrow',
  noborder,
  ...attributes
} = Astro.props;
const iconClass = noborder ? '' : 'icon';
const iconSize = noborder ? '1.5rem' : '2rem';
---

<div class="sl-link-card">
  {icon && <Icon name={icon} class={iconClass} size={iconSize} />}
  <div class="sl-flex stack">
    <a {...attributes}>
      <span class="title" set:html={title} />
    </a>
    {description && <span class="description" set:html={description} />}
  </div>
  <Icon name={rightIcon} size="1.5rem" />
</div>

<style>
  .sl-link-card {
    --sl-card-border: var(--sl-color-purple);
    --sl-card-bg: var(--sl-color-purple-low);
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.75rem;
    border: 1px solid var(--sl-color-gray-5);
    background-color: var(--sl-color-black);
    border-radius: 0.5rem;
    padding: 1rem;
    padding-top: 0.25rem;
    margin: 1rem 0;
    box-shadow: var(--sl-shadow-sm);
    position: relative;
  }

  .sl-link-card:nth-child(4n + 1) {
    --sl-card-border: var(--sl-color-orange);
    --sl-card-bg: var(--sl-color-orange-low);
  }
  .sl-link-card:nth-child(4n + 3) {
    --sl-card-border: var(--sl-color-green);
    --sl-card-bg: var(--sl-color-green-low);
  }
  .sl-link-card:nth-child(4n + 4) {
    --sl-card-border: var(--sl-color-red);
    --sl-card-bg: var(--sl-color-red-low);
  }
  .sl-link-card:nth-child(4n + 5) {
    --sl-card-border: var(--sl-color-blue);
    --sl-card-bg: var(--sl-color-blue-low);
  }

  .sl-link-card .icon {
    border: 1px solid var(--sl-card-border);
    background-color: var(--sl-card-bg);
    padding: 0.2em;
    border-radius: 0.25rem;
  }

  .sl-link-card svg {
    margin-top: 1rem;
  }

  a {
    text-decoration: none;
    line-height: var(--sl-line-height-headings);
  }

  /* a11y fix for https://github.com/withastro/starlight/issues/487 */
  a::before {
    content: '';
    position: absolute;
    inset: 0;
  }

  .stack {
    flex-direction: column;
    gap: 0.25rem;
  }

  .title {
    /* color: var(--sl-color-white);
		font-weight: 600;
		font-size: var(--sl-text-lg); */
    font-weight: 600;
    font-size: var(--sl-text-h3);
    color: var(--sl-color-white);
    line-height: var(--sl-line-height-headings);
    gap: 1rem;
    align-items: center;
  }

  .description {
    color: var(--sl-color-gray-3);
    line-height: 1.5;
    font-size: 17px;
    letter-spacing: 0;
    text-wrap: pretty;
  }

  /* Hover state */
  .sl-link-card:hover {
    background: var(--sl-color-gray-7, var(--sl-color-gray-6));
    border-color: var(--sl-color-gray-2);
  }

  .sl-link-card:hover .icon {
    color: var(--sl-color-white);
  }
</style>
