---
interface Props {
  options: (string | { text: string; link: string })[][];
  compact?: boolean;
}

const { options, compact = false } = Astro.props;
const [headers, ...rows] = options;

const cellClassName = compact ? 'compactCell' : 'cell';

const newHeaders = headers.map((header) => {
  const isCodeHeader = typeof header === 'string' && header.endsWith('(code)');
  const headerText = isCodeHeader ? header.replace('(code)', '') : header;
  const minWidthMatch = typeof headerText === 'string' ? headerText.match(/\d+px/) : null;
  const minWidth = minWidthMatch ? minWidthMatch[0] : null;
  const newHeaderText = minWidth
    ? typeof headerText === 'string'
      ? headerText.replace(minWidth, '')
      : headerText
    : headerText;

  return {
    text: newHeaderText,
    minWidth: minWidth,
  };
});

const newRows = rows.map((row) => {
  if (row.length === 0) {
    return [' ', ' ', ' ', ' '];
  } else {
    return row;
  }
});
---

<div class="optionsTable not-content">
  <table class="table">
    <thead class="tableHeader">
      <tr class="headerRow">
        {
          newHeaders.map((header) => {
            let headerClassName = 'headerCell';
            if (header.minWidth) {
              headerClassName += ` minWidth`;
            }

            return (
              <th class={headerClassName} style={{ minWidth: header.minWidth }}>
                {header.text}
              </th>
            );
          })
        }
      </tr>
    </thead>
    <tbody class="body">
      {
        newRows.map((row) => (
          <tr>
            {row.map((cell, index) => {
              const isCodeCell =
                typeof headers[index] === 'string' && (headers[index] as string).endsWith('(code)');
              let cellClassNameOverride = isCodeCell
                ? compact
                  ? 'compactCodeCell'
                  : 'codeCell'
                : cellClassName;

              // Check if the cell contains a link
              if (typeof cell === 'object' && 'text' in cell && 'link' in cell) {
                return (
                  <td class={cellClassNameOverride}>
                    <a class="linkColors" href={cell.link}>
                      {cell.text}
                    </a>
                  </td>
                );
              } else {
                return <td class={cellClassNameOverride}>{cell}</td>;
              }
            })}
          </tr>
        ))
      }
    </tbody>
  </table>
</div>

<style>
  .optionsTable {
    overflow-x: auto;
    overscroll-behavior-x: contain;
    margin-bottom: 1rem;
    margin-left: 0;
  }
  td a {
    color: var(--sl-color-text-accent);
  }
  td td a:hover {
    color: var(--sl-color-text-accent);
  }

  .table {
    display: table; /* Ensure the table takes full width */
    min-width: 100%; /* Prevent the table from shrinking */
    table-layout: auto; /* Adjust table width based on content */
    border-collapse: collapse;
    font-size: 0.9rem;
    line-height: 1.25rem;
  }

  .cell {
    padding: 0.5rem 0; /* Adjust padding as needed */
    line-height: 1.5rem;
    font-family: inherit;
    border-bottom: 1px solid rgb(220, 220, 220);
    white-space: nowrap; /* Prevent text wrapping within cells */
  }

  .tableHeader {
    border-top: 0 none transparent;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding: 1rem 1rem;
    text-align: left;
    white-space: nowrap; /* Prevent text wrapping within cells */
  }

  .headerRow {
    border-top: 0 none transparent;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding: 1rem 0;
    text-align: left;
    white-space: nowrap; /* Prevent text wrapping within cells */
  }

  .headerCell {
    border: none;
    padding: 0.5rem 0;
    font-weight: 600;
    white-space: nowrap; /* Prevent text wrapping within cells */
  }

  .body {
    vertical-align: baseline;
    white-space: nowrap; /* Prevent text wrapping within cells */
  }

  .row {
    border-bottom: 1px solid rgb(135, 29, 29);
    white-space: nowrap; /* Prevent text wrapping within cells */
  }

  .codeCell {
    border: none;
    white-space: pre;
    padding: 0.5rem 0.5rem;
    line-height: 1.5rem;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 0.75rem;
    border-bottom: 1px solid rgb(220, 220, 220);
    white-space: nowrap; /* Prevent text wrapping within cells */
  }

  .compactCell {
    padding: 0; /* Adjust padding as needed */
    padding-right: 1.5rem;
    border: none;
    line-height: 1.5rem;
    font-family: inherit;
    border-bottom: 1px solid rgb(220, 220, 220);
    white-space: nowrap; /* Prevent text wrapping within cells */
  }

  .compactCodeCell {
    border: none;
    white-space: pre;
    padding: 0;
    line-height: 1.5rem;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 0.75rem;
    border-bottom: 1px solid rgb(220, 220, 220);
    white-space: nowrap; /* Prevent text wrapping within cells */
  }
</style>
